* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./Images/body\ background.jpg);
}
.icon {
  position: absolute;
  top: 467px;
  height: 50px;
  width: 75px;
}
.bg1 {
  position: relative;
  top: 0;
  left: 0;
}
.designamtion {
  position: absolute;
  top: 240px;
  left: 380px;
  color: rgb(240, 253, 211);
  font-size: 35px;
  font-weight: 56;
}
.name {
  position: absolute;
  top: 140px;
  left: 380px;
  color: rgb(240, 253, 211);
  font-size: 80px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15); /* 3-D text from mark dotto 3d text*/
}
.profile_pic {
  position: absolute;
  top: 100px;
  left: 60px;
  border-radius: 50%;
}
.navbar {
  min-height: 55px;
  background-color: rgb(33, 33, 37);
}
.head1 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(33, 33, 37);
  color: rgb(240, 253, 211);
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}
section div {
  height: 300px;
  width: 400px;
  border: 1px solid #ccc;
  font-size: 2.5rem;
  margin: 0px auto;
}
.side-a,
.side-b {
  position: absolute;
  backface-visibility: hidden;
}
.side-a {
  z-index: 1;
}
.side-b {
  transform: rotateY(180deg);
  text-align: center;
  font-size: 30px;
}
.wrap:hover {
  transform: rotateY(180deg); /*to show the next div*/
  cursor: pointer;
}
.wrap {
  transition: 1s;
  transform-style: preserve-3d; /*Specifies that child elements will preserve its 3D position*/
}
section {
  perspective: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
aside div {
  height: 75px;
  width: 10%;
  background-color: crimson;
  border: 2px solid black;
  transition: 2s;
  margin-bottom: 12px;
}
aside div:nth-of-type(1) {
  transition-timing-function: ease-in;
}
aside div:nth-of-type(2) {
  transition-timing-function: ease-out;
}
aside div:nth-of-type(3) {
  transition-timing-function: easeInOutCubic;
}
aside:hover div {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: rgb(19, 18, 29);
}

figure div {
  height: 75px;
  background-color: cyan;
  border: 2px solid black;
  transition: 2s;
  margin-bottom: 12px;
  width: 230px;
  height: 230px;
  margin: 0px auto;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 230px;
}
figure {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
}
.side-a,
.side-b {
  position: absolute;
  backface-visibility: hidden;
}
.side-a {
  z-index: 1; /*to prioritize the first div*/
}
.side-b {
  transform: rotateY(
    180deg
  ); /*so that this div does not appear with first side*/
  text-align: center;
  font-size: 30px;
}
.wrap1:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}
.wrap1 {
  transition: 1s;
  transform-style: preserve-3d;
}
.skill {
  width: 230px;
  height: 230px;
  margin: 0px auto;
  border-radius: 50%;
}
.float {
  float: left; /*to align this in left side and move out from the normal flow*/
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 350px;
}
